<div class="container">
<h1>Hecho A Mano</h1>
<h1>Categorías</h1>
<%= link_to 'Todas', root_path %>
<% @categories.each do |c| %>
  <%= link_to c.name, root_path(:categ => c.id) %> 
<% end %>
<p>Find me in app/views/home/index.html.erb</p>
<% @stores.each do |s|  %>
<% if s.suspended == 0 %>
    <p> <br> <b> <%= s.name %></b> <br> </p>
    <div>
    <% s.images.each do |image| %>
    <%= image_tag image, width:'100px', height:'100px' %>
    <% end %>
   <p> <%= s.instagram_link  %> </p>
    </div>
    <% end %>
<% end %>
</div>
