<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<div style="width:400px; height: auto">
  <%= link_to image_tag(@item.avatar, style: 'width:100%'), items_path %>
</div>

<p>
  <strong>Store:</strong>
  <%= @item.store.name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
